We have a dataset which shows the purchase details of Duke(Bike). Our aim of this
project is to predict if the customer will purchase a Duke or not.Based on the given data (using SVM)

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('bike.csv')
df.head()

   Gender  Age  Salary  Purchase Duke
0    Male   19   19000              0
1    Male   35   20000              0
2  Female   26   43000              0
3  Female   27   57000              0
4    Male   19   76000              0

In [3]:
x=df.drop(["Purchase Duke"],axis = 1)
y = df['Purchase Duke']

In [4]:
x.shape

(400, 3)

In [5]:
y.shape

(400,)

In [6]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
x["Gender"] = label_encoder.fit_transform(x["Gender"])

In [7]:
x.shape

(400, 3)

In [8]:
x

     Gender  Age  Salary
0         1   19   19000
1         1   35   20000
2         0   26   43000
3         0   27   57000
4         1   19   76000
5         1   27   58000
6         0   27   84000
7         0   32  150000
8         1   25   33000
9         0   35   65000
10        0   26   80000
11        0   26   52000
12        1   20   86000
13        1   32   18000
14        1   18   82000
15        1   29   80000
16        1   47   25000
17        1   45   26000
18        1   46   28000
19        0   48   29000
20        1   45   22000
21        0   47   49000
22        1   48   41000
23        0   45   22000
24        1   46   23000
25        1   47   20000
26        1   49   28000
27        0   47   30000
28        1   29   43000
29        1   31   18000
..      ...  ...     ...
370       0   60   46000
371       1   60   83000
372       0   39   73000
373       1   59  130000
374       0   37   80000
375       0   46   32000
376       0   46   74000
377       0   42   53000
378       1   41   87000
379       0   58   23000
380       1   42   64000
381       1   48   33000
382       0   44  139000
383       1   49   28000
384       0   57   33000
385       1   56   60000
386       0   49   39000
387       1   39   71000
388       1   47   34000
389       0   48   35000
390       1   48   33000
391       1   47   23000
392       0   45   45000
393       1   60   42000
394       0   39   59000
395       0   46   41000
396       1   51   23000
397       0   50   20000
398       1   36   33000
399       0   49   36000

[400 rows x 3 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.20, random_state=42)

In [10]:
print(x_train)

     Gender  Age  Salary
3         0   27   57000
18        1   46   28000
202       0   39  134000
250       0   44   39000
274       0   57   26000
63        1   32  120000
248       1   41   52000
301       1   48   74000
108       1   26   86000
90        1   22   81000
233       1   49   86000
335       0   36   54000
118       1   40   59000
220       0   41   80000
180       1   26   16000
314       0   39   79000
373       1   59  130000
380       1   42   64000
239       0   53  143000
75        1   34  112000
247       0   57  122000
110       0   39   71000
16        1   47   25000
66        1   24   19000
153       0   36   50000
7         0   32  150000
19        0   48   29000
137       1   30  107000
355       1   60   34000
349       1   38   61000
..      ...  ...     ...
344       1   47  105000
235       1   46   79000
252       0   48  134000
21        0   47   49000
313       0   49  141000
160       1   32  100000
276       1   38   71000
191       0   19   26000
293       1   37   77000
343       0   47   51000
257       1   40   57000
308       1   36  125000
149       1   20   74000
130       1   31   58000
151       1   41   45000
359       1   42   54000
99        0   28   37000
372       0   39   73000
87        0   28   85000
330       1   38   51000
214       1   47   43000
121       1   37   72000
399       0   49   36000
20        1   45   22000
188       1   35   72000
71        0   24   27000
106       0   26   35000
270       0   43  133000
348       1   39   77000
102       0   32   86000

[320 rows x 3 columns]

In [11]:
print(y_train)

3      0
18     1
202    1
250    0
274    1
63     1
248    0
301    1
108    0
90     0
233    1
335    0
118    0
220    0
180    0
314    0
373    1
380    0
239    1
75     1
247    1
110    0
16     1
66     0
153    0
7      1
19     1
137    1
355    1
349    0
      ..
344    1
235    1
252    1
21     1
313    1
160    1
276    0
191    0
293    0
343    1
257    0
308    1
149    0
130    0
151    0
359    0
99     0
372    0
87     0
330    0
214    0
121    0
399    1
20     1
188    0
71     0
106    0
270    0
348    0
102    0
Name: Purchase Duke, Length: 320, dtype: int64

In [12]:
print(y_train.shape)

(320,)

In [44]:
from sklearn.svm import SVC
#svcclassifier = SVC()
svcclassifier = SVC(kernel = 'linear', random_state = 1)
svcclassifier.fit(x_train, y_train)
y_pred=svcclassifier.predict(x_test)

In [45]:
from sklearn import metrics
print(metrics.accuracy_score(y_test,y_pred))
print(metrics.confusion_matrix(y_test,y_pred))

0.85
[[48  4]
 [ 8 20]]

In [46]:
conf_matrix=metrics.confusion_matrix(y_test,y_pred)
print(conf_matrix)
TP=conf_matrix[0,0]
TN=conf_matrix[1,1]
FN=conf_matrix[0,1]
FP=conf_matrix[1,0]

[[48  4]
 [ 8 20]]

In [47]:
sensitivity=TP/(TP+FN)
specificity=TN/(TN+FP)
precision=TP/(TP+FP)
pred_val=TN/(TN+FN)
accracy=(TP+FN)/(TP+TN+FP+FN)

In [48]:
print("SENSITIVITY : %f"%(sensitivity))
print("SPECIFICITY : %f"%(specificity))
print("PRECISION : %f"%(precision))
print("PREDICTE VALUE : %f"%(pred_val))
print("ACCURCY : %f"%(accracy))
print("\n\nprecision",precision)
print("PRECISION SCORE :",metrics.precision_score(y_test, y_pred))
print("RECALL SCORE :", metrics.recall_score(y_test, y_pred))
print("F1 SCORE :",metrics.f1_score(y_test, y_pred))

SENSITIVITY : 0.923077
SPECIFICITY : 0.714286
PRECISION : 0.857143
PREDICTE VALUE : 0.833333
ACCURCY : 0.650000


precision 0.8571428571428571
PRECISION SCORE : 0.8333333333333334
RECALL SCORE : 0.7142857142857143
F1 SCORE : 0.7692307692307692

In [49]:
from sklearn.model_selection import GridSearchCV

In [50]:
param_grid={'C':[0.1,1,10,50,100,500],'gamma':[1,0.5,0.1,0.01,0.001]}

In [51]:
grid= GridSearchCV(SVC(),param_grid, verbose=3, n_jobs=-1)

In [52]:
grid.fit(x_train,y_train)

Fitting 3 folds for each of 30 candidates, totalling 90 fits
[CV] C=0.1, gamma=1 ..................................................
[CV] C=0.1, gamma=1 ..................................................
[CV] C=0.1, gamma=0.5 ................................................
[CV] C=0.1, gamma=1 ..................................................
[CV] ......... C=0.1, gamma=1, score=0.6388888888888888, total=   0.0s
[CV] ......... C=0.1, gamma=1, score=0.6415094339622641, total=   0.0s
[CV] ....... C=0.1, gamma=0.5, score=0.6388888888888888, total=   0.0s
[CV] ......... C=0.1, gamma=1, score=0.6415094339622641, total=   0.0s
[CV] C=0.1, gamma=0.5 ................................................
[CV] C=0.1, gamma=0.1 ................................................
[CV] C=0.1, gamma=0.1 ................................................
[CV] C=0.1, gamma=0.1 ................................................
[CV] ....... C=0.1, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] C=0.1, gamma=0.5 ................................................
[CV] ....... C=0.1, gamma=0.1, score=0.6415094339622641, total=   0.0s
[CV] ....... C=0.1, gamma=0.1, score=0.6415094339622641, total=   0.0s
[CV] C=0.1, gamma=0.001 ..............................................
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ....... C=0.1, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] C=1, gamma=0.5 ..................................................
[CV] ...... C=0.1, gamma=0.01, score=0.6388888888888888, total=   0.0s
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ....... C=0.1, gamma=0.1, score=0.6388888888888888, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] ......... C=1, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] ..... C=0.1, gamma=0.001, score=0.6415094339622641, total=   0.0s
[CV] C=1, gamma=1 ....................................................
[CV] ...... C=0.1, gamma=0.01, score=0.6415094339622641, total=   0.0s
[CV] C=1, gamma=0.1 ..................................................
[CV] C=0.1, gamma=0.01 ...............................................
[CV] ........... C=1, gamma=1, score=0.6388888888888888, total=   0.0s
[CV] ........ C=1, gamma=0.01, score=0.7075471698113207, total=   0.0s
[CV] ...... C=0.1, gamma=0.01, score=0.6415094339622641, total=   0.0s
[CV] C=1, gamma=1 ....................................................
[CV] C=0.1, gamma=0.001 ..............................................
[CV] ......... C=1, gamma=0.1, score=0.6851851851851852, total=   0.0s
[CV] C=1, gamma=0.001 ................................................
[CV] ..... C=0.1, gamma=0.001, score=0.6388888888888888, total=   0.0s
[CV] ....... C=1, gamma=0.001, score=0.7037037037037037, total=   0.0s
[CV] C=1, gamma=0.1 ..................................................
[CV] C=1, gamma=0.001 ................................................
[CV] C=0.1, gamma=0.001 ..............................................
[CV] ............ C=1, gamma=1, score=0.660377358490566, total=   0.0s
[CV] C=1, gamma=1 ....................................................
[CV] ..... C=0.1, gamma=0.001, score=0.6415094339622641, total=   0.0s
[CV] ......... C=1, gamma=0.1, score=0.6698113207547169, total=   0.0s
[CV] ....... C=1, gamma=0.001, score=0.7075471698113207, total=   0.0s
[CV] C=1, gamma=0.1 ..................................................
[CV] C=1, gamma=0.001 ................................................
[CV] ............ C=1, gamma=1, score=0.660377358490566, total=   0.0s
[CV] C=1, gamma=0.5 ..................................................
[CV] ......... C=1, gamma=0.1, score=0.6698113207547169, total=   0.0s
[CV] C=1, gamma=0.01 .................................................
[CV] C=10, gamma=1 ...................................................
[CV] ....... C=1, gamma=0.001, score=0.6415094339622641, total=   0.0s
[CV] C=10, gamma=1 ...................................................
[CV] ......... C=1, gamma=0.5, score=0.6574074074074074, total=   0.0s
[CV] ........ C=1, gamma=0.01, score=0.7314814814814815, total=   0.0s
[CV] ........... C=10, gamma=1, score=0.660377358490566, total=   0.0s
[CV] C=1, gamma=0.5 ..................................................
[CV] C=1, gamma=0.01 .................................................
[CV] C=10, gamma=0.5 .................................................
[CV] .......... C=10, gamma=1, score=0.6574074074074074, total=   0.0s
[CV] ......... C=1, gamma=0.5, score=0.6698113207547169, total=   0.0s
[CV] ........ C=1, gamma=0.01, score=0.7358490566037735, total=   0.0s
[CV] ........ C=10, gamma=0.5, score=0.6481481481481481, total=   0.0s
[CV] C=10, gamma=1 ...................................................
[CV] C=10, gamma=0.5 .................................................
[CV] C=10, gamma=0.001 ...............................................
[CV] C=10, gamma=0.1 .................................................
[CV] .......... C=10, gamma=1, score=0.6698113207547169, total=   0.0s
[CV] C=50, gamma=0.5 .................................................
[CV] ...... C=10, gamma=0.001, score=0.6792452830188679, total=   0.0s
[CV] C=50, gamma=1 ...................................................
[CV] ........ C=10, gamma=0.1, score=0.6509433962264151, total=   0.0s
[CV] ........ C=50, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] ........ C=10, gamma=0.5, score=0.6698113207547169, total=   0.0s
[CV] C=10, gamma=0.5 .................................................
[CV] C=10, gamma=0.01 ................................................
[CV] .......... C=50, gamma=1, score=0.6574074074074074, total=   0.0s
[CV] C=50, gamma=0.1 .................................................
[CV] ..................... C=10, gamma=0.01, score=0.75, total=   0.0s
[CV] C=50, gamma=1 ...................................................
[CV] ........ C=10, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] ........ C=50, gamma=0.1, score=0.6574074074074074, total=   0.0s
[CV] C=50, gamma=0.1 .................................................
[CV] C=10, gamma=0.1 .................................................
[CV] C=10, gamma=0.01 ................................................
[CV] .......... C=50, gamma=1, score=0.6698113207547169, total=   0.0s
[CV] ........ C=50, gamma=0.1, score=0.6698113207547169, total=   0.0s
[CV] C=50, gamma=1 ...................................................
[CV] ........ C=10, gamma=0.1, score=0.6574074074074074, total=   0.0s
[CV] C=10, gamma=0.1 .................................................
[CV] ....... C=10, gamma=0.01, score=0.7452830188679245, total=   0.0s
[CV] C=10, gamma=0.01 ................................................
[CV] C=50, gamma=0.1 .................................................
[CV] ........... C=50, gamma=1, score=0.660377358490566, total=   0.0s
[CV] ........ C=10, gamma=0.1, score=0.6698113207547169, total=   0.0s
[CV] ....... C=10, gamma=0.01, score=0.6981132075471698, total=   0.0s
[CV] C=50, gamma=0.01 ................................................
[CV] C=50, gamma=0.5 .................................................
[CV] ........ C=50, gamma=0.1, score=0.6509433962264151, total=   0.0s
[CV] C=50, gamma=0.01 ................................................
[CV] ........ C=50, gamma=0.5, score=0.6481481481481481, total=   0.0s
[CV] C=10, gamma=0.001 ...............................................
[CV] ....... C=50, gamma=0.01, score=0.7407407407407407, total=   0.0s
[CV] ....... C=50, gamma=0.01, score=0.6981132075471698, total=   0.0s
[CV] C=50, gamma=0.5 .................................................
[CV] C=50, gamma=0.001 ...............................................
[CV] ...... C=10, gamma=0.001, score=0.7222222222222222, total=   0.0s
[CV] C=50, gamma=0.01 ................................................
[CV] C=10, gamma=0.001 ...............................................
[CV] ...... C=50, gamma=0.001, score=0.7314814814814815, total=   0.0s
[CV] ........ C=50, gamma=0.5, score=0.6698113207547169, total=   0.0s
[CV] C=100, gamma=1 ..................................................

[CV] ...... C=10, gamma=0.001, score=0.7358490566037735, total=   0.0s
[CV] C=50, gamma=0.001 ...............................................
[CV] ....... C=50, gamma=0.01, score=0.7264150943396226, total=   0.0s
[CV] C=100, gamma=0.1 ................................................
[CV] C=100, gamma=0.001 ..............................................
[CV] .......... C=100, gamma=1, score=0.660377358490566, total=   0.0s
[CV] ...... C=50, gamma=0.001, score=0.7264150943396226, total=   0.0s
[CV] ....... C=100, gamma=0.1, score=0.6509433962264151, total=   0.0s
[CV] C=100, gamma=0.5 ................................................
[CV] ..... C=100, gamma=0.001, score=0.6698113207547169, total=   0.0s
[CV] C=100, gamma=0.01 ...............................................
[CV] C=50, gamma=0.001 ...............................................
[CV] C=500, gamma=1 ..................................................
[CV] ...... C=100, gamma=0.01, score=0.7314814814814815, total=   0.0s
[CV] ...... C=50, gamma=0.001, score=0.6698113207547169, total=   0.0s
[CV] ....... C=100, gamma=0.5, score=0.6481481481481481, total=   0.0s
[CV] C=100, gamma=0.5 ................................................
[CV] C=100, gamma=1 ..................................................
[CV] C=100, gamma=0.01 ...............................................
[CV] ......... C=500, gamma=1, score=0.6574074074074074, total=   0.0s
[CV] C=500, gamma=1 ..................................................
[CV] ....... C=100, gamma=0.5, score=0.6698113207547169, total=   0.0s
[CV] C=100, gamma=0.5 ................................................
[CV] ......... C=100, gamma=1, score=0.6574074074074074, total=   0.0s
[CV] ...... C=100, gamma=0.01, score=0.7264150943396226, total=   0.0s
[CV] ......... C=500, gamma=1, score=0.6698113207547169, total=   0.0s
[CV] C=100, gamma=1 ..................................................
[CV] C=100, gamma=0.01 ...............................................
[CV] C=500, gamma=1 ..................................................
[CV] ....... C=100, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] C=100, gamma=0.1 ................................................
[CV] ...... C=100, gamma=0.01, score=0.6981132075471698, total=   0.0s
[CV] ......... C=100, gamma=1, score=0.6698113207547169, total=   0.0s
[CV] C=500, gamma=0.5 ................................................
[CV] .......... C=500, gamma=1, score=0.660377358490566, total=   0.0s
[CV] C=500, gamma=0.5 ................................................
[CV] C=100, gamma=0.001 ..............................................
[CV] ....... C=100, gamma=0.1, score=0.6574074074074074, total=   0.0s
[CV] ....... C=500, gamma=0.5, score=0.6415094339622641, total=   0.0s
[CV] C=500, gamma=0.1 ................................................
[CV] ....... C=500, gamma=0.5, score=0.6481481481481481, total=   0.0s
[CV] ..... C=100, gamma=0.001, score=0.7314814814814815, total=   0.0s
[CV] C=500, gamma=0.5 ................................................
[CV] C=100, gamma=0.1 ................................................
[CV] ....... C=500, gamma=0.1, score=0.6574074074074074, total=   0.0s
[CV] C=500, gamma=0.1 ................................................
[CV] ....... C=500, gamma=0.5, score=0.6698113207547169, total=   0.0s
[CV] C=100, gamma=0.001 ..............................................
[CV] ....... C=500, gamma=0.1, score=0.6698113207547169, total=   0.0s
[CV] ....... C=100, gamma=0.1, score=0.6698113207547169, total=   0.0s
[CV] C=500, gamma=0.01 ...............................................
[CV] ..... C=100, gamma=0.001, score=0.7358490566037735, total=   0.0s
[CV] C=500, gamma=0.1 ................................................
[CV] ....... C=500, gamma=0.1, score=0.6509433962264151, total=   0.0s
[CV] C=500, gamma=0.01 ...............................................
[CV] ...... C=500, gamma=0.01, score=0.6981132075471698, total=   0.0s
[CV] C=500, gamma=0.001 ..............................................
[CV] ...... C=500, gamma=0.01, score=0.7037037037037037, total=   0.0s
[CV] C=500, gamma=0.01 ...............................................
[CV] ..... C=500, gamma=0.001, score=0.7222222222222222, total=   0.0s
[CV] C=500, gamma=0.001 ..............................................
[CV] ...... C=500, gamma=0.01, score=0.7169811320754716, total=   0.0s
[CV] ..... C=500, gamma=0.001, score=0.7075471698113207, total=   0.0s
[CV] C=500, gamma=0.001 ..............................................
[CV] ..... C=500, gamma=0.001, score=0.6792452830188679, total=   0.0s

[Parallel(n_jobs=-1)]: Done  90 out of  90 | elapsed:    0.9s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'C': [0.1, 1, 10, 50, 100, 500], 'gamma': [1, 0.5, 0.1, 0.01, 0.001]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=3)

In [53]:
grid.best_params_

{'C': 10, 'gamma': 0.01}

In [54]:
model_new=SVC(C=10, gamma=1)
model_new.fit(x_train,y_train)

SVC(C=10, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [55]:
from sklearn.metrics import accuracy_score

In [56]:
accuracy_score(y_test,model_new.predict(x_test))

0.675

In [57]:
#Get a new Data and Check Whether the customer purchase or not—0(no) and 1(yes)
New_Age=int(input('Enter the Age : '))
New_Salary=int(input('Enter the Salary : '))
New_Gender=int(input('Enter the Gender (0 for Male and 1 for Female) : '))
New_Data=[ [New_Age,New_Salary,New_Gender]]
New_Data_User = pd.DataFrame(New_Data,columns=['Age', 'Salary','Gender_Cat'])
print(New_Data_User.head())
user_classification = svcclassifier.predict(New_Data_User)
print(user_classification)

Enter the Age : 56
Enter the Salary : 12000
Enter the Gender (0 for Male and 1 for Female) : 1
   Age  Salary  Gender_Cat
0   56   12000           1
[1]

In [ ]:
if (user_classification>0):
    print("The user will not buy Duke")
else:
    print("The user will  buy Duke")