# Python Collections (Arrays)

# There are four collection data types in the Python programming language:

1.Lists

2.Sets

3.Tuple

4.Dictionary

### Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets.

In [1]:
type([])

list

In [2]:
lst_example=[]

In [3]:
lst=['Mathematics','chemistry', 100, 200, 300, 204]

In [4]:
len(lst)

6

In [5]:
type(lst)

list

### Append

In [6]:
lst

['Mathematics', 'chemistry', 100, 200, 300, 204]

In [7]:
#.append is used to add elements in the list
lst.append("Gouri")

In [8]:
lst.append(["Kannan","navaneeth"])

In [9]:
lst

['Mathematics',
 'chemistry',
 100,
 200,
 300,
 204,
 'Gouri',
 ['Kannan', 'navaneeth']]

In [10]:
##Indexing in List
lst[6]

'Gouri'

In [11]:
lst[1:6]

['chemistry', 100, 200, 300, 204]

### Insert

In [12]:
## insert in a specific order

lst.insert(2,"Renu")

In [13]:
lst

['Mathematics',
 'chemistry',
 'Renu',
 100,
 200,
 300,
 204,
 'Gouri',
 ['Kannan', 'navaneeth']]

### Various Operations that we can perform in List

In [14]:
lst=[1,2,3,4,5]

In [15]:
sum(lst)

15

In [16]:
lst*5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

# Negative indexing

In [17]:
lst=[1,2,3,4,5]
print(lst[-2])

4

# Range of Indexes

In [18]:
lst=[1,2,3,4,5]
print(lst[2:4])

[3, 4]

In [19]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [21]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

### Pop() Method

In [22]:
lst.pop()

5

In [23]:
lst

[1, 2, 3, 4]

In [24]:
lst.pop(0)

1

In [25]:
lst

[2, 3, 4]

# Built in Functions in List

In [26]:
lst=[1,1,2,3,4,5]
lst.count(1)

2

In [27]:
#length:Calculates total length of List
len(lst)

6

In [28]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
lst.index(1,1,4)

1

In [29]:
##Min and Max
min(lst)

1

In [30]:
max(lst)

5

# Delete List Elements

In [31]:
list1 = ['physics', 'chemistry', 1997, 2000];
del list1[2];
print(list1)

['physics', 'chemistry', 2000]

## SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [32]:
## Defining an empy set

set_var= set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [33]:
set_var={1,2,3,4,3}

In [34]:
set_var

{1, 2, 3, 4}

# Set is mutable

We cannot access or change an element of a set using indexing or slicing. Set data type does not support it.

We can add a single element using the add() method, and multiple elements using the update() method.

In [35]:
set_var={"Avengers","IronMan",'Hitman'}
print(set_var)
type(set_var)

{'IronMan', 'Avengers', 'Hitman'}

set

In [36]:
## Inbuilt function in sets

set_var.add("Hulk")

In [37]:
print(set_var)

{'IronMan', 'Hulk', 'Avengers', 'Hitman'}

In [38]:
set1={"Avengers","IronMan",'Hitman'}
set2={"Avengers","IronMan",'Hitman','Hulk2'}

In [39]:
set2.intersection_update(set1)

In [40]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [41]:
##Difference 
set2.difference(set1)

set()

In [42]:
set2

{'Avengers', 'Hitman', 'IronMan'}

In [43]:
## Difference update
set2.difference_update(set1)

In [44]:
print(set2)

set()

# Removing elements from a set

A particular item can be removed from a set using the methods discard() and remove()

What is the difference between These two methods????

In [45]:
q={'a','z','b','f','p'}

In [46]:
q.discard('a')

In [47]:
q

{'b', 'f', 'p', 'z'}

In [48]:
q.discard('c')

In [49]:
q

{'b', 'f', 'p', 'z'}

In [50]:
q.remove('b')

In [51]:
q

{'f', 'p', 'z'}

In [52]:
#q.remove('r')

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python, dictionaries are written with curly brackets, and they have keys and values.

Dictionaries are optimized to retrieve values when the key is known.

In [53]:
dic={}

In [54]:
type(dic)

dict

In [55]:
type(dict())

dict

In [56]:
set_ex={1,2,3,4,5}

In [57]:
type(set_ex)

set

In [58]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [59]:
type(my_dict)

dict

In [60]:
##Access the item values based on keys

my_dict['Car1']

'Audi'

In [61]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [62]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [63]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [64]:
## Adding items in Dictionaries

my_dict['car4']='Audi 2.0'

In [65]:
my_dict

{'Car1': 'Audi', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

In [66]:
my_dict['Car1']='MAruti'

In [67]:
my_dict

{'Car1': 'MAruti', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'car4': 'Audi 2.0'}

### Nested Dictionary

In [68]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [69]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [70]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [71]:
print(car_type['car1']['Mercedes'])

1960